*.aux
*.blg 
*.out 
*.bbl 
*.log 
*.nlo 
*.lof 
*.lot 
*.toc 
*.bcf 
*.ilg 
*.xml 
*.nls 
*.ind
*.swp
*.nav
*.snm
*synctex.gz
*.zip
*.pdf
*.odt
.idea
!cv-milan_skocic-en.pdf
!cv-milan_skocic-fr.pdf
!cv-milan_skocic-sr.pdf
build